* {
    margin: 0;
    padding: 0;
    
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #603F26;
    color: white;
    text-align: center;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
}
.panel {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #6C4E31;
    border-bottom: 2px solid white;
}
h2 {
    margin-left: 5px;
}
.herosection {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFDBB5;
}
.box {
    height: 220px;
    width:300px ;
    border: 2.5px solid black;
    margin-top: 25px;
    border-radius: 5px;
} 
.box-content p {
    font-size:1.2rem;
    font-weight: 700;
    text-decoration:underline ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-img {
    height:220px ;
    width:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.info {
    height:210px ;
    width: 100px;
    background-color:white;
    padding: 20px;
    position: absolute;
    margin-top: 100px;
}
.box-img .info {
    visibility: hidden;
    height: 100px;
    width: 300px;
    background-color:whitesmoke ;
    color:black;
    text-align: c;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    bottom: 0%;
    left: 20%;
    margin-left: -60px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.boc-img .info::after {
    content: "";
    position: absolute;
}
.box-img:hover .info {
    visibility: visible;
    opacity: 1;
}
.box-img .info p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-decoration: none;
}
 .foot {
     height: 50px;
     width: 100%;
     margin-top: 40px;
     background-color: black;
 }









